<configuration debug="false">
    # Console appender
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            # Pattern of log message for console appender
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
        </layout>
    </appender>

    # File appender
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/test.log</file>
        <append>true</append>
        <encoder>
            # Pattern of log message for file appender
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="printBoardConsoleLogger" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m</pattern>
        </layout>
    </appender>

    <logger level="info" name="printBoardLogger" additivity="false">
        <appender-ref ref="printBoardConsoleLogger"/>
    </logger>

    <root level="debug">
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </root>
</configuration>